simulation
output_files
incremental_db
db
LAB_06
*.bak
*.qpf
*.qsf
*.vwf
*.qws
*.temp
*.done
*.jpeg
*.rpt
*.summary
*.jdi
*.smsg
*.pin
*.rar
*.pdf
*.circ
*.png
*.vwf
*.sof
*.dpf